body{
    
    
    background: linear-gradient(180deg, #F9D1D1 41.67%, #D4D1F9 100%);

}
.image{
    width:100%;
    height:100%;
}




.profile{
  border-radius: 300px;
  width: 600px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60%;
}
.about{
    position: absolute;
    width: 73px;
    height: 32px;
    right: 70px;
    top:48px;
    font-family: "Clarkson", Helvetica, sans-serif;
    text-transform:uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #A155B9;
    z-index: 1;
}

.sign{
    position: absolute;
    left: 32px;
    top:32px;
    z-index: 1;
}

.name{
    
    width: 600px;


    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 78.8%;
    /* or 72px */

    display: block;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
    position: absolute;
    margin-top: 18%;
    background: linear-gradient(90deg, #F765A3 16.96%, #0B1354 95.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 1;
}
.grid-container1{
    display: grid;
    grid-template-columns: auto 600px auto;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 170px;
    column-gap: 80px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    text-align: justify;
    
    background: linear-gradient(0deg, #F765A3 20.6%, #0B1354 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 3;
}
